body {
    background: #c5d3ff !important ;
    font-family: "Courgette", cursive !important;
}

.portal .portal-header {
    background: #c5d3ff !important;
}

.portal #portalPageBody::before {
    background-image: none !important;
}

.portal #portalPageBody {
    background-color: #c5d3ff !important;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
}

html {
    background-color: #c5d3ff !important;
    overflow-x: inherit !important;
}

html body #wrapper {
    background-color: #4d4d4d00 !important;
}

#portalTip {
    display: none !important;
}
/*
.up-portlet-wrapper-inner {
    display: none !important;
}*/

#region-customize {
    display: none !important;
}
